<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/master.html}">
<head>
<title>Trang chủ</title>
</head>

<body>
	<div layout:fragment="content">
		<div align="center">
<iframe width="780" height="440" src="https://www.youtube.com/embed/z7YDD9dyxQE?feature=oembed" frameborder="0" allowfullscreen></iframe>		</div>
	</div>
</body>
</html>